<header class="header">
  <div class="header__top">
    <div class="header__top__left">LOGOTIPO</div>
    <div class="header__top__center">
      <div class="header__input">
        <input type="text" id="input-search"><mat-icon>search</mat-icon>
      </div>
    </div>
    <div class="header__top__right">
      <a href="">Entre ou cadastre-se</a>
    </div>
  </div>
  <div class="header__bottom">
    <nav class="header__bottom__nav">
      <ul class="header__bottom__nav__ul">
        <li class="header__bottom__nav__item">option 1</li>
        <li class="header__bottom__nav__item">option 2</li>
        <li class="header__bottom__nav__item">option 3</li>
        <li class="header__bottom__nav__item">option 4</li>
        <li class="header__bottom__nav__item">option 5</li>
        <li class="header__bottom__nav__item">option 6</li>
        <li class="header__bottom__nav__item">option 7</li>
      </ul>
    </nav>
  </div>
</header>