<header class="header">
  <div class="header__top">
    <div class="header__top__left">LOGOTIPO</div>
    <div class="header__top__center">
      <div class="header__input">
        <input type="text" id="input-search" placeholder="O que esta procurando?"
          #inputSearch
          (focus)="inputSearchOnFocus()"
          (blur)="inputSearchOnBlur()"
        >
        <mat-icon #iconSearch 
          [ngClass]="inputSearchIsFocused ? 'hide' : 'show'"
        >search</mat-icon>
        <mat-icon 
          #iconClose
          [ngClass]="inputSearchIsFocused ? 'show' : 'hide'"
          (click)="inputSearchClearValue()"
        >close</mat-icon>
      </div>
    </div>
    <div class="header__top__right">
      <a href="">Entre ou cadastre-se</a>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Entre ou cadastre-se</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </div>
  <div class="header__bottom">
    <nav class="header__bottom__nav">
      <ul class="header__bottom__nav__ul">
        <li class="header__bottom__nav__item">option 1</li>
        <li class="header__bottom__nav__item">option 2</li>
        <li class="header__bottom__nav__item">option 3</li>
        <li class="header__bottom__nav__item">option 4</li>
        <li class="header__bottom__nav__item">option 5</li>
        <li class="header__bottom__nav__item">option 6</li>
        <li class="header__bottom__nav__item">option 7</li>
      </ul>
    </nav>
  </div>
</header>