@import '../../scss/variables';
@import '../../scss/mixins.scss';

.header {
  background-color: $custom-color-main;

  &__top {
    @include horizontal-list(space-between, center);
  }

  &__bottom {
    padding: 8px 0;
  }

  &__bottom ul {
    @include horizontal-list(space-between, center);
  }

  @include breakpoint(phone-only) {
    padding: 0 12px;
  }

  @include breakpoint(tablet-portrait-up) {
    padding: 0 16px;
  }

  @include breakpoint(tablet-landscape-up) {
    padding: 0 18px;
  }

  @include breakpoint(desktop-up) {
    padding: 0 80px;
  }
}