
//a partir
//xs:0
//sm:480
//md:768
//lg:992
//xl:1200
//font sizes
$custom-font-size-sm: 0.8em;
$custom-font-size-md: 1em;
$custom-font-size-lg: 1.2em;
$custom-font-size-xl: 1.4em;

//colors
$custom-color-main: #A7EBC6;